body {
    font-family: Arial, sans-serif;
    background-color: #81a1ea;
    display: flex;
    justify-content:center;
    align-items:c;
    height: 100vh;
    margin-left: 250px;
    margin-right: 100px;
    margin: 0;
}


h1 {
    width: 250px;
    height: 50px;
    color: #0e0d0d;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #3c3a3a;
    border-radius: 10px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius:15px;
    cursor: pointer;
    font-size: 16px;
}

