@import url('dashboard-base.css');

.content h1 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  background: rgba(255,255,255,0.05);
  border-radius: 14px;
  border-collapse: collapse;
  overflow: hidden;
}

th {
  background: rgba(255,255,255,0.15);
  padding: 14px;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

tr:hover td {
  background: rgba(255,255,255,0.08);
}

td:nth-child(4) {
  font-weight: bold;
  color: #38bdf8;
}
